<div class="main">
  <%= form_with model: @suppliers do |f| %>
    <%= f.label :企業名 %><br>
    <%= f.text_field :name %><br>
    <%= f.label :店舗数 %><br>
    <%= f.number_field :store %><br>
    <%= f.label :電話番号 %><br>
    <%= f.telephone_field :phone_number %><br>
    <%= f.label :担当者名 %><br>
    <%= f.text_field :contact_name %><br>
    <%= f.label :帳合先 %><br>
    <%= f.text_field :agreement %><br>
    <%= f.label :帳合先担当者 %><br>
    <%= f.text_field :agreement_name %><br>
    <%= f.label :導入アイテム %><br>
    <%= f.collection_select :product_ids, @products, :id, :name %>
    <br>

    <%= f.submit :送信 %>
  <% end %>
  <%= link_to "戻る", root_path %>

</div>